<% @astronauts.each do |a| %>
<%= a.name %>
<%= a.age %>
<%= a.job %>
<h5>Time in Space: <%= a.time_in_space %> </h5>
<h5 <% a.missions.alphabetical.each do |m| %></h5>
<%= m.title %>
<% end %>
<% end %>
<h3>Average Age <%= @avg_age %> </h3>
